spring:
   profiles: peer1
   application:
      name: eureka-server

server:
   port: 8761

eureka:
   instance:
      hostname: peer1
   client:
      serviceUrl:
         defaultZone: http://peer2:8769/eureka/